.container {
    display: grid;
    margin-top: 50px;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    grid-auto-flow: row;
    grid-template-areas:
      "LecheHidraet AcidoHidraet TonicoHidraet"
      "CremaDada SerumRDada SerumHDada";
}

h3{
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
}

  .LecheHidraet { 
      grid-area: LecheHidraet;
      border: 2px solid thistle;
    }
  .AcidoHidraet { 
      grid-area: AcidoHidraet; 
      border: 2px solid thistle;

    }
  
  .TonicoHidraet { 
      grid-area: TonicoHidraet; 
      border: 2px solid thistle;
    }
  
  .CremaDada { 
      grid-area: CremaDada; 
      border: 2px solid thistle;
    }
  
  .SerumRDada { 
      grid-area: SerumRDada; 
      border: 2px solid thistle;
    }
  
  .SerumHDada { 
      grid-area: SerumHDada;
      border: 2px solid thistle;
    }