$color-primario: white;
$color-secundario: thistle;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import '_footer.scss';
@import '_container.scss';

body{
    background-color: $color-primario;
}

h1{
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    margin:80px;
    color: $color-secundario;
}

/*secciones*/
.secciones{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transform: (10px,20px);
    
    .imagenes{
        width: 60vh;
        margin-top: 80px;

    }
}
/*productos destacados*/
.productosDestacados{
    background-image: linear-gradient(white, thistle);
    color: black;
    font-family: 'Playfair Display', serif;
    text-align: center;
    border-radius: 30px;
    margin-top: 70px;
}

/*Información Importante*/

h2 {
    margin-top: 20px;
    font-family: 'Playfair Display', serif;
    color: $color-secundario;
    margin-left: 30px;
    text-align: left;
        p{
            margin-left: 50px;
            font-size: 20%;
        }
}

main{
    text-align: center;
}


/*Dispositivos chicos*/
@media (max-width: 320px) {
    .secciones{
        flex-direction: column;
        justify-content: space-evenly;


    .container{
        display: flex;
        flex-direction: column;
        }
    
    }
}

@media(max-width: 768px){
    .productosDestacados{
        display: flex;
        flex-direction: column;
    }
}